@import "tailwindcss";
/* Hide the default calendar icon in Chrome/Safari/Edge */
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}

/* Optional: Hide the 'clear' button if you don't want it */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Hide the inner padding that some browsers force on date inputs */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Remove focus outline from all SVG elements inside charts */
.recharts-wrapper:focus,
.recharts-surface:focus,
svg:focus {
  outline: none !important;
}

/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
